//- .onionSlider-container.slider-gran
//- ul.slider-parent#userDefinedID
//- .slider-container
div.round-arrow.round-arrow--left.js-round-arrow &#8592;
div.round-arrow.round-arrow--right.js-round-arrow &#8594;
div.swypeSlider-container.slider-gran
	ul.swypeSlider-wrapper.slider-parent
		li.slide.swypeSlide
			div 1
		li.slide.swypeSlide
			div 2
		li.slide.swypeSlide
			div 3
		li.slide.swypeSlide
			div 4
		li.slide.swypeSlide
			div 5
		li.slide.swypeSlide
			div 6
		li.slide.swypeSlide
			div 7
		li.slide.swypeSlide
			div 8
		li.slide.swypeSlide
			div 9
		li.slide.swypeSlide
			div 10