footer
    .container
        .row
            .col-12.col-md-8.col-xl-5
                .footer-logs-container.d-flex.justify-content-between.flex-row
                    .springrole-footer-img-wrapper
                        img.image(src="https://springrole-assets.imgix.net/images/website/img/ezgif.com-webp-to-png.01f4bfcbad75a36d1493a99a424f2429.svg" alt="Springrole footer logo")
                    .client-img-wrapper
                        img.image.image-container(src="img/cred.0107de31.png" alt="client logo")
                .email-container.d-flex.align-items-center
                    img(src="img/envelope.svg")
                    a.whitey.avenir-regular(href="mailto:someone@example.com?Subject=Hello%20again" target="_top") bvg-india@springrole.com
                address.whitey.avenir-regular
                    | No.19, 2nd Floor, Amar Plaza, Krishnanagar <br/>
                    | Industrial Layout Hosur Road, Bengaluru, <br/>
                    | Karnataka, 560029
        .row
            .col-12
                .sub-footer
                    .row
                        .col-12.col-md-4
                            span.social-media-wrapper.d-flex.justify-content-between
                                img(src="img/001-facebook-logo.svg")
                                img(src="img/002-twitter.svg")
                                img(src="img/003-linked-in-logo-of-two-letters.svg")
                                img(src="img/004-telegram.svg")
                                img(src="img/005-youtube.svg")
                                
                        .col-12.col-md-8.copyright-wrapper
                            p.whitey © SpringRole 2019


    