header.nav-header
    .container
        .row
            .col-12
                .d-flex.justify-content-between.navbar-contents
                    .site-logo-wrapper
                        img(src="img/logo.svg")
                    figure.partner-logo-wrapper.d-flex.flex-column
                        img(src="img/cred.0107de31.png")
                        figcaption.whitey.avenir-regular Exclusively for