mixin header(pageName)
	meta(charset="UTF-8")
	meta(name= "viewport", content= "user-scalable=no, width=device-width, initial-scale=1.0", initial-scale=1)
	//- link(rel= "shortcut icon", href="img/favicon/vor.png" type="image/x-icon")
	//- if(pageName === "home")
	title Spring Verify
	link(rel= "stylesheet", href= "css/main.min.css")
	meta(name= "description", content= "")
	meta(name= "keywords", content= "")
	//- link(rel="stylesheet", href='css/loader.css')
	//- link(rel= "stylesheet", href= "css/main.css")
	//- non blocking css
	//- link(rel= "stylesheet", href= "css/main.css " media="none" onload="this.media='all';")