script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
//- script(type="text/javascript" src="js/plugins/onionslider.min.js")
//- script(type="text/javascript" src="js/sliderInit.min.js")
//- script(src="js/main.min.js")
// if(pageName === "settings")
	// script(async src="js/settings.js")

