section.home-banner
    .dotted-sm
    .container
        .row
            .col-12.col-md-10.col-xl-7
                h2.section-heading.avenir-bold.whitey Fast & easy background verification, with just the click of a button
                p.whitey.avenir-regular Keep your family safe, Don’t hire without Verifying!
                div.card.card--dark-card.stars.whitey
                    h1.section-heading.avenir-regular CRED Customer, we have an exclusive offer for you!