section.how-to-verify
    .dotted-lg.dotted-lg--top
    .dotted-lg.dotted-lg--bottom
    .container
        .row
            .col-12.col-md-8.col-xl-4
                h2.whitey.section-heading.how-to-verify__main-heading How to Verify?
                p.how-to-verify__subheading.avenir-regular.whitey We make background verification super easy using cutting edge technology
        .row.flex-column
            .col-12
                .how-list-digit.whitey.d-flex.justify-content-center.align-items-center 01
                p.avenir-regular.whitey.how-list-subtext Select the types of checks you want and get going!
        .row
            .col-12.col-md-10.col-xl-9
                .card.card--iris.how-to-verify__iriscard
                    h2.whitey.section-heading.how-to-verify__irisheading.avenir-demi ID & Court Record check is free for you!
                    ul.how-to-verify__court-list
                        li.d-flex.justify-content-between.whitey
                            label.form-cboxlabel.avenir-demi.d-flex.align-items-center
                                input.form-checkbox(type='checkbox' required='' name='cf-identity' checked)
                                span.form-checkbox-styler(aria-hidden='true')
                                | ID Check
                            figure.d-flex
                                img(src="")
                                figcaption Cred Exclusive
                        li.d-flex.whitey.justify-content-between
                            label.form-cboxlabel.avenir-demi.d-flex.align-items-center
                                input.form-checkbox(type='checkbox' required='' name='cf-identity' checked)
                                span.form-checkbox-styler(aria-hidden='true')
                                | Court Check
                            figure.d-flex
                                img(src="")
                                figcaption Cred Exclusive
                        li.d-flex.whitey.justify-content-between
                            label.form-cboxlabel.avenir-demi.d-flex.align-items-center
                                input.form-checkbox(type='checkbox' required='' name='cf-identity')
                                span.form-checkbox-styler(aria-hidden='true')
                                | Address Check
                            figure.d-flex
                                img(src="")
                                figcaption &#x20b9; + 499
                    a.btn.btn--white.text-uppercase.avenir-bold(href="#!") proceed
        .row
            .col-12
                .card.card--white.how-to-verify__sep-card
                    .row
                        .col-12.col-md-6
                            .how-to-verify__illustration
                                img.image(src="img/group_11.svg" alt="verification process 2")
                        .col-12.col-md-6
                            .how-to-verify__description
                                .how-list-digit.how-list-digit__black.d-flex.justify-content-center.align-items-center 02
                                p.avenir-regular.how-list-subtext All you have to do is upload the required documents and we will handle the rest for you
                    .row
                        .col-12
                            .card.card--french.how-to-verify__french-card.whitey
                                p.avenir-regular Our sophisticated OCR technology extracts data from the documents; no need for manual data entry - isn’t that great?
                    .row
                        .col-12.col-md-6
                            .how-to-verify__description
                                .how-list-digit.how-list-digit__black.d-flex.justify-content-center.align-items-center 02
                                p.avenir-regular.how-list-subtext All you have to do is upload the required documents and we will handle the rest for you
                        .col-12.col-md-6
                            .how-to-verify__illustration
                                img.image(src="img/group_12.svg" alt="verification process 3")


