section.verify-people
    .container
        .row
            .col-12
                .card.card--white.verify-people__card
                    .row
                        .col-12
                            h2.text-center.section-heading.verify-people__main-heading Use SpringVerify to verify your:
                    .row
                        ul.col-12.offset-lg-2.col-lg-8.d-flex.flex-row.justify-content-around.justify-md-content-between.verify-people__list
                            li
                                figure.text-center
                                    img.verify-people__img(src="img/driver.jpg", alt="Verify Drivers")
                                    figcaption.avenir-demi.verify-people__caption Driver
                            li
                                figure.text-center
                                    img.verify-people__img(src="img/Murderous_Maids.jpeg", alt="Verify Maids")
                                    figcaption.avenir-demi.verify-people__caption Maid
                            li
                                figure.text-center
                                    img.verify-people__img(src="img/cook.jpg", alt="Verify Cooks")
                                    figcaption.avenir-demi.verify-people__caption Cook
                    .row
                        .col-12
                            .text-center
                                a.btn.btn--blue.avenir-bold.d-inline-block(href="#!") verify
